:root {
  --theme-color: var(--text-color2);
  --theme-color2: var(--bg-color);
  --theme-color3: #fff;
  --theme-color4: #000;

  --text-color: #653913;
  --text-color2: #fff;
  /* 点缀色 */
  --tip-color: #ea8833;

  --bg-color: #fdb614;
  --bg-color2: #186bfb;
  --bg-color3: rgba(216, 216, 216, 0.7);
  --bg-color4: #ffc714;

  --shadow-color: rgba(50, 50, 93, 0.2) 0px 2px 5px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px -1px;
  --shadow-color2: rgba(122, 122, 122, 0.2) 0px 2px 5px 4px, rgba(101, 101, 101, 0.4) 0px 1px 3px -1px;
  --shadow-color3: rgba(0, 0, 0, 0.14) 0px 1px 2px 0px;
  /* 边框 */
  --border-color: rgba(140, 140, 140, 0.2);
  /* 延迟 */
  --router-delay: 0.35s;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
  font-family: Helvetica, Georgia;
}
a {
  color: var(--theme-color4);
}
a:active {
  color: var(--text-color);
}
* {
  box-sizing: border-box;
}
/* 初始窗口大小边距 */
.wind-init {
  width: 100%;
  padding: 0.4rem;
  /* 底部 */
  padding-bottom: 2rem;
}

/* 自定义类 */
.animate__animated {
  animation-delay: calc(var(--router-delay) / 2);
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ms-auto {
  margin: auto;
}
.v-card {
  border-radius: 16px;
  backdrop-filter: blur(20px);
  box-shadow: var(--shadow-color);
  padding: 0.4rem;
}

/* 按钮 */
.v-btn {
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  font-size: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 8px;
  letter-spacing: 0.1rem;
  transition: all 0.5s;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-weight: 600;
  box-shadow: #bfaa5d66 -3px -3px 4px, #d6bb5729 3px 3px 4px;
  border: 0.05rem solid rgba(179, 179, 179, 0.3);
}

.v-click {
  transition: 0.5s;
}
.v-click:active,
.v-btn:active {
  box-shadow: none;
  transform: scale(0.96);
}
/* 输入框 */
.froms {
  padding: 0.5rem 1rem;
}

/* 输入框 */
.v-input {
  background-color: rgba(240, 240, 240, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 2rem;
  margin: 0.4rem 0;
}

.v-input .right-btn {
  border-radius: 2rem;
  background-color: var(--bg-color2);
  color: #eee;
  padding: 0 2.5em;
  font-size: 0.8em;
  border: none;
}

button {
  border: none;
  background-color: transparent;
}

/* 定义字体大小 */
span,
div {
  font-size: 0.4rem;
}
label {
  font-size: 0.7rem;
  font-weight: 600;
}
